<div class="product-container">
    <div class="product-image">
        <img src="https://image.flaticon.com/icons/png/128/166/166913.png" alt="">
    </div>
    <div class="product-description">
        <p><strong>Project title</strong></p>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    </div>
    <div class="product-controls">
            <button pButton type="button" label="Danger" class="ui-button-raised ui-button-danger"></button>
        </div>
</div>
