<div class="products-controls">
	<div class="add">
		<app-add-product (addedProduct)="handleAddProduct($event)"></app-add-product>
	</div>
	<app-search-product (searchItem)="filterByDescription($event)"></app-search-product>
</div>
<div class="products-warpper">
	<div class="product">

		<div class="product-warpper" *ngFor="let product of productsList">
			<app-product (deleteItem)="handleDelete($event)" [product]="product"></app-product>
		</div>
		<div class="error-warpper" *ngIf="productsList.length == 0">
			<h2>No Data To Display,Please check back later.</h2>
		</div>
	</div>
	<div class="product-details">
		<app-product-details *ngIf="displayEditMode" (editedProduct)="handleEdit($event)"></app-product-details>
	</div>
</div>