.product-details-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(0,auto);
    grid-row-gap: 30px;  
    background-color:whitesmoke;
    padding:40px 0px;
}
.editor {
    display: grid;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
 
    grid-row-gap: 28px;  
}
.field-container {
    margin:auto;
}

.input-field {
    border:1px dashed lightslategray;
    padding:10px;
    margin:auto;
}
.ui-inputgroup .ui-inputgroup-addon{
    background: white;
    
}