<div class="product-details-container">

<div class="editor">
        <div class="field-container">
                <span class="ui-float-label">
                <input class="input-field" id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Product Name</label>
                </span>
        </div>

        <div class="field-container">
        <span class="ui-float-label">
        <input class="input-field" id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Product Description</label>
        </span>
        </div>
                
        <div class="field-container">
                        <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon">$</span>
                                        <input type="text" pInputText placeholder="Price">   
                                        <span class="ui-inputgroup-addon">.00</span>      
                                    </div>
        </div>


        </div> 
</div>